<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple POS</title>
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
<link rel="bookmark" th:href="@{/images/favicon.ico}"
	type="image/x-icon" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<style type="text/css">
body {
	font-family: Source Han Serif;
	font-size: 12px;
	line-height: 20px;
}

.height_40 {
	height: 40px;
	line-height: 40px;
}
</style>
</head>
<body>
	<!-- 最外层 Layout -->
	<div class="container">

		<div class="row no-gutters">
			<div class="col-sm-8">
				<div class="row align-items-start height_40">
					<div class="col-2">订单编号：</div>
					<div class="col-4" th:text="${orderNo}"></div>
					<div class="col-2">当前导购员：</div>
					<div class="col-4 input-group-sm">
						<select id="guide" class="custom-select">
							<option value="" selected>请选择导购</option>
							<option th:each="guide:${guides}" th:value="${guide.no}"
								th:text="${guide.name}"></option>
						</select>
					</div>
				</div>

				<div class="row align-items-center height_40">
					<div class="col-2">SKU：</div>
					<div class="col-4 input-group-sm">
						<input id="sku" class="form-control" type="text" />
					</div>
					<div class="col-6">
						<button type="button" class="btn btn-primary">加入购物车（Enter）</button>
						<button type="button" class="btn btn-secondary">移除购物车（F1）</button>
					</div>
				</div>

				<div class="row align-items-end height_40">
					<div class="col">
						汇总： <label id="totalNum">X</label> 件，<label id="totalAmount">YYYY</label>
						元。
					</div>
				</div>

			</div>

			<div class="col-sm-4">
				<div class="col-12 align-self-center">
					<h1 id="systemName" th:text="${systemName}"></h1>
				</div>
				<div class="col-12 align-self-center">
					<button type="button" class="btn btn-danger btn-lg btn-block">结账（F2）</button>
				</div>
			</div>
		</div>

		<div class="row no-gutters">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">货号</th>
						<th scope="col">商品名称</th>
						<th scope="col">尺码</th>
						<th scope="col">颜色</th>
						<th scope="col">吊牌金额</th>
						<th scope="col">实际金额</th>
						<th scope="col">数量</th>
						<th scope="col">合计</th>
					</tr>
				</thead>
				<tbody>
					<tr id="tr-1">
						<th scope="row">1</th>
						<th scope="col" name="productNo"></th>
						<th scope="col" name="productName"></th>
						<th scope="col" name="sizeName"></th>
						<th scope="col" name="colorName"></th>
						<th scope="col" name="tagPrice"></th>
						<th scope="col" name="retailPrice"></th>
						<th scope="col" name="num"></th>
						<th scope="col" name="total"></th>
					</tr>
					<tr id="tr-2">
						<th scope="row">2</th>
						<th scope="col" name="productNo"></th>
						<th scope="col" name="productName"></th>
						<th scope="col" name="sizeName"></th>
						<th scope="col" name="colorName"></th>
						<th scope="col" name="tagPrice"></th>
						<th scope="col" name="retailPrice"></th>
						<th scope="col" name="num"></th>
						<th scope="col" name="total"></th>
					</tr>
					<tr id="tr-3">
						<th scope="row">3</th>
						<th scope="col" name="productNo"></th>
						<th scope="col" name="productName"></th>
						<th scope="col" name="sizeName"></th>
						<th scope="col" name="colorName"></th>
						<th scope="col" name="tagPrice"></th>
						<th scope="col" name="retailPrice"></th>
						<th scope="col" name="num"></th>
						<th scope="col" name="total"></th>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</body>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</html>